.ReactTable {
    border-radius: 8px;
    overflow: hidden;
}

.ReactTable .rt-thead .rt-tr .rt-th,
.ReactTable .rt-thead .rt-tr .rt-td {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.ReactTable .rt-thead.-headerGroups .rt-tr .rt-th {
    display: flex;
    justify-content: center;
}

.ReactTable .rt-tbody .rt-tr-group .rt-td {
    padding: 20px;
}

.ReactTable.-striped .rt-tbody .rt-tr-group .rt-tr.-odd {
    background-color: #efefef;
}

.ReactTable .rt-table .rt-thead.-headerGroups {
    background-color: #ffffff;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc,
.ReactTable .rt-thead.-header,
.ReactTable .-pagination {
    box-shadow: none !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: #efefef !important;
}

.ReactTable .rt-th > div, .ReactTable .rt-td > div {
    background: none !important;
}

.ReactTable .rt-thead.-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}